#tw-map{
    position : relative;
    top : 5vh;
    left : 5vw;
    height : 80vh;
    width : 60vw;
    z-index: 0;
}

#google-logo{
    position : absolute;
    top : 85vh;
    left : 65vw;
    height : 15px;
    transform: translate(-55px, -35px);
    z-index: 1;
}