#search-field{
    position : absolute;
    top : 5vh;
    right : 15px;
}

#search-list{
    position : absolute;
    top : 5vh;
    transform: translateY(55px);
    right : 15px;
}

#search-select-button{
    position : absolute;
    top : calc(5vh + 329px);
    transform: translateY(55px);
    right : 145px;
    background-color: white;
}

#trip-place-list{
    position : absolute;
    top : calc(5vh + 370px);
    transform: translateY(55px);
    right : 15px;
}

#tp-remove-button{
    position : absolute;
    top : calc(5vh + 699px);
    transform: translateY(55px);
    right : 145px;
    background-color: white;
}
#tp-path-button{
    position : absolute;
    top : calc(5vh + 699px);
    transform: translateY(55px);
    right : 15px;
    background-color: white;
}