#search-field{
    position : absolute;
    top : 5vh;
    left : 67vw;
}

#search-list{
    position : absolute;
    top : 5vh;
    transform: translateY(55px);
    left : 67vw;
}

#selected-list{
    position : absolute;
    top : calc(5vh + 340px);
    transform: translateY(55px);
    left : 67vw;
}